<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/optionstyles.css">
</head>
<body>
    <main>
        <section class="create-reg">
            <div class="main-div">
                <form action="/save_doctor" method="post" class="main-form">
                    <div class="row">
                        <h1>Registro Doctor</h1>
                    </div>
                    <div class="row">
                        <label for="Nombre">Nombre</label>
                        <input type="text" name="NombreUs" id="NombreUs" required>
                    </div>
                    <div class="row">
                        <label for="Correo">Apellido</label>
                        <input type="text" name="ApellidoUs" id="ApellidoUs">
                    </div>
                    <div class="row">
                        <label for="Celular">Correo</label>
                        <input type="text" name="CorreoUs" id="CorreoUs">
                    </div>
                    <div class="row">
                        <label for="Edad">Especialidad</label>
                        <input type="text" name="Especialidad" id="Especialidad">
                    </div>
                    <div class="row">
                        <button type="submit">Guardar</button>
                        <a href="/doctores">Cancelar</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>