<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/indexstyles.css">
    
</head>
<body>
    <main>
        <Section>
          <a href="/usuario" class="usuarios">
            <img src="/img/usuario.png" alt="">
            <h1>Usuarios</h1>    
          </a>
          <a href="/doctores" class="usuarios">
            <img src="/img/doctor.png" alt="">
            <h1>Doctores</h1>    
          </a>
          <a href="/citas" class="usuarios">
            <img src="/img/cita.png" alt="">
            <h1>Citas</h1>    
          </a>
        </Section>
    </main>
    <script src="/src/JS/views_redirect.js"></script> 
</body>
</html>